@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 10 auto;
     font: 100%/1.4 Times, Times New Roman, serif;
     background-color: #FFFFFF;
     padding: 2px;
     color: #000655;
}
a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
.homePage {
	background: #002153;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #009CCC;
	text-align: center;
	margin: 0px;
	padding: 0;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #CD6600;
	margin: 0px;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFFFFF;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
    	text-indent: 0px;
}
.footer {
	background: #777777;
	margin: 30px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
